html{
  box-sizing: border-box;
  font-size: 62.5%;/**1rem = 10px**/
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}
/** Globales **/
.contenedor{
  max-width: 120rem;
  width:95%;
  margin:0 auto;
}
h1, h2, h3, h4, h5, h6{
  font-family:'PT Sans', sans-serif;
  line-height: 1.8;
  margin-top:0;
}

h1{
  font-size: 4.8rem;
}
h2{
  font-size: 4rem;
  line-height: 1.2;
}
h3{
  font-size: 3.2rem;
}
h4{
  font-size: 2.8rem;
}
h5{
  font-size: 2rem;
}
h6{
  font-size: 1.8rem;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}

/** Utilidades **/
.txt_center{
  text-align: center;
}
.fnt_w300{
  font-weight: 300;
}
.fnt_w400{
  font-weight: 400;
}
.fnt_w700{
  font-weight: 700;
}
.txt_white{
  color:#ffff;
}
.txt_black{
  color:#000000;
}
.txt_upper{
  text-transform: uppercase;
}
.margin-zero{
  margin:0;
}
.gap-20{
  margin-right: 2rem;
}

/*Grid*/
 @media (min-width: 700px) {
  .grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .columns-center{
    justify-content: center;
  }
  .columns-4{
    flex: 0 0 calc(33.3% - 1rem);
  }
  .columns-6{
    flex: 0 0 calc(50% - 1rem);
  }
  .columns-8{
    flex: 0 0 calc(66.6% - 1rem);
  }
  .columns-10{
    flex: 0 0 calc(83.3% - 1rem);
  }
  .columns-12{
    flex: 0 0 100%;
  }
}

/*Botones*/
.btn{
  color:#fff;
  border:none;
  display: block;/*Va tomar todo el espacio*/
  text-align: center;
  padding: 1rem 3rem;
  margin:2rem 0;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  flex: 0 0 100%; /*This is for the button send which as display flex, and it will grow up*/
}
.btn:hover{
  cursor: pointer;

}
 @media (min-width: 700px) {
  .btn{
    display: inline-block;
    flex: 0 0 auto;
  }
}
.btn-primary{
  background-color:#000;
}


.btn-secondary{
  background-color: #784d3c;
}
/*Header*/
@media (min-width:700px) {
  .main-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
}

.site-header{
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60rem;
  margin-bottom:3rem;
}
.site-header h1 span{
  font-weight: 700;
}

/*Navegacion*/
.navegacion a{
  color:#ffffff;
  display: block;
  font-size: 1.8rem;
}
@media (min-width:700px){
 .navegacion a{
   display: inline;
   margin-right: 2rem;
 }
 .navegacion a:last-of-type{
   margin-right: 0;
 }
}

/*Header text*/
.text-header{
  margin:5rem 3rem 0;

}
.text-header p{
  font-size: 2.2rem;
}
 @media (min-width: 700px) {
  .text-header{
    margin-top: 15rem;
  }
}

/** Main Content **/
.main-content{
  display: flex;
  flex-wrap:wrap;
}
.blog, .courses{
  flex: 0 0 100%;
}
.courses{/* Posiciona primero los cursos, al darle un valor negativo */
  order:-1;
}
 @media (min-width:700px) {
  .main-content{
    justify-content: space-between;
  }
  .blog{
    flex-basis: 66.6%
  }
  .courses{
    flex-basis: calc(33.3% - 4rem);
    order:2;
  }
}
.post-blog{
  margin-bottom:2rem;
  border-bottom: 1px solid #e1e1e1;
}
.post-blog:last-of-type{
  border-bottom:none;
}

/* Courses list*/
.list-courses{
  padding:0;
  list-style: none;
}
.course{
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #e1e1e1;
}
.course:last-of-type{
  border-bottom:none;
}
.course p{
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size:2rem;
}
.course p span, .course p.description{
  font-weight: 400;
}

/** Site Footer **/
.site-footer{
  background-color: #000;
  padding: 3rem;
  margin-top:4rem;
}
.site-footer p{
  color:#fff;
  font-size: 4rem;
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}
.site-footer p span{
  font-weight: 700;
}

/*Contact Form*/
.contact-form{
  background-color: #fff;
  padding:5rem;
}
 @media (min-width: 700px) {
   .contact-form{
       margin-top:-10rem;
   }
}
.contact-form .field{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.contact-form .field label{/*Da el espacio necesario al label*/
  flex: 0 0 8rem;
}
.contact-form .field input:not([type="submit"]),
.contact-form textarea{
  flex: 1;
  border: 1px solid #e1e1e1;
  padding:1rem;
}
.contact-form textarea{
  height: 20rem;
}
.contact-form .btn_send{
  display: flex;
  justify-content: flex-end;
}
